* {
    box-sizing: border-box;
}

.bug1 {

    height: 800px;

    width: 1440px;

    border-radius: 0px;
    
    background-color: #1F314F;

    padding-top: 152px;

}

.bug2 {
    height: 497px;

width: 320px;

left: 560px;

top: 152px;

border-radius: 20px;

background-color: White;

padding: 16px 16px 193px 16px;

}

.bug3 {
    height: 288px;

width: 288px;

left: 576px;

top: 168px;

border-radius: 10px;

background-color: #1F314F;

padding: 64px;

}

.satauri {

    font-family: outfit;

    font-size: 22px;

    line-height: 28px;

    align-items: center;

    color: #1F314F;

}

.paragraph {

font-size: 15px;

line-height: 19px;

line-height: 100%;

letter-spacing: 0.19px;

color: Grey;

}





























