@font-face {
    font-family: "inter";
    src: url("../task-1/inter.ttf");
}

* {
    font-family: "inter";
    color: #000000;
}

.header1 {
margin-top: 40px;    
max-width: 1337px;
font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
}

hr {
    max-width: 1337px;
    margin-top: 37px;
    border: 1px solid #000000;
}

.paragraph1 {
    margin-top: 35px;
    max-width: 1346px;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 19.36px;
}

.header2 {
    max-width: 218px;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 24.2px;
    margin-top: 60px;
    text-align: left;
}

.paragraph2 {
    margin-top: 35px;
    max-width: 1346px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    text-align: left;
}